JWT_SECRET=defina_sua_chave_aqui
JWT_EXPIRATION=3600000

TELEGRAM_TOKEN=seu_token_do_botfather
TELEGRAM_BOT_USERNAME=nome_do_bot
GEMINI_API_KEY=sua_chave_gemini
GROQ_API_KEY=sua_chave_groq_aqui

DB_HOST=localhost
DB_PORT=5432
DB_NAME=financas
DB_USERNAME=financas_user
DB_PASSWORD=financas_senha
DB_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}